name: Docker Build

on:
  push:
  pull_request:

jobs:
  docker:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install DVC
        run: |
          pip install dvc

      - name: Pull data & model
        run: |
          dvc pull

      - name: Build Docker image
        run: |
          docker build -t iris-api:ci .
